/*
  TODO: Integrate this file for the rest of the site. Currenly, there are too
  many styles that will be affected otherwise.
  DO NOT MERGE INTO APPLICATION UNLESS PART OF A TECH DEBT STORY.
 */
:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  font: 400 16px/30px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

ul {
  list-style: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font: 300 40px/50px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h2 {
  font: 300 34px/42px "Source Sans Pro", Helvetica, Arial, sans-serif;
}
@media-query (xs) {
  h2 {
    font-size: 28px;
    line-height: 36px;
  }
}
h3 {
  font: 300 28px/36px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h4 {
  font: 300 22px/32px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h5 {
  font: 300 18px/26px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

h6 {
  font: 300 16px/24px "Source Sans Pro", Helvetica, Arial, sans-serif;
}

p {
  font-size: 16px;
  line-height: 30px;
}

.StyleGuide {
  padding-top: 100px;
}
.StyleGuide.noscroll {
  overflow: hidden;
}
.StyleGuide a {
  outline: none;
}
.StyleGuide section {
  padding: 40px 0;
}
@media screen and (max-width: 984px) {
  .StyleGuide section {
    padding: 30px 20px;
  }
}
.StyleGuide section:nth-child(2n) {
  background-color: #F5F5F5;
}
.StyleGuide pre,
.StyleGuide code {
  width: 100%;
}
.StyleGuide code {
  background-color: #E6E6E6;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px;
}

.Examples {
  padding: 20px;
  border: 2px dashed #E6E6E6;
  background-color: #FFF;
}

.u-marginTop-60 {
  margin-top: 60px;
}
.u-borderBottom {
  border-bottom: 1px solid #E6E6E6;
}

/* Also adding our own nav here. */
.StyleGuideNav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  overflow: hidden;
  z-index: 3;
}
.StyleGuideNav-top {
  height: 50px;
  width: 100%;
  background-color: #032765;
  position: relative;
  z-index: 1;
}
.StyleGuideNav-burger {
  width: 20px;
  height: 2px;
  display: block;
  position: absolute;
  left: -20px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  transition: left 250ms, height 250ms;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav-burger {
    left: 20px;
    height: 16px;
  }
}
.StyleGuideNav-burger:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  transition: all 200ms;
}
.StyleGuideNav-burger:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  transition: all 200ms;
}
.StyleGuideNav-patty {
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  background-color: #FFF;
  transition: all 200ms;
}
.StyleGuideNav-logo {
  position: absolute;
  top: 50%;
  left: calc((100vw - 984px) / 2);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  transition: left 250ms, transform 250ms;
  color: #FFF;
  text-transform: uppercase;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav-logo {
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
  }
}
.StyleGuideNav-logo svg {
  display: block;
}
.StyleGuideNav-navigation {
  padding: 0 calc((100vw - 984px) / 2);
  background-color: #FFF;
  display: block;
  height: 50px;
  z-index: 1;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav-navigation {
    padding: 0;
    position: fixed;
    top: 50px;
    left: -300px;
    bottom: 0;
    height: calc(100vh - 50px);
    border: none;
    border-right: 1px solid #E6E6E6;
    width: 300px;
    transition: left 250ms;
  }
}
.StyleGuideNav-navList {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav-navList {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.StyleGuideNav-navListItem {
  height: 100%;
}
.StyleGuideNav-navListItem:not(:last-child) {
  margin-right: 30px;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav-navListItem {
    height: auto;
    margin: 0 !important;
    padding: 20px;
    border-bottom: 1px solid #E6E6E6;
  }
}
.StyleGuideNav-navLink {
  display: block;
  line-height: 47px;
  text-decoration: none;
  color: #1A1F2C;
  border-bottom: 2px solid rgba(3, 39, 101, 0);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  transition: border 250ms, color 250ms;
}
.StyleGuideNav-navLink:hover {
  border-color: #032765;
  color: #032765;
}
.StyleGuideNav-navLink.isCurrent {
  border-color: #032765;
  color: #032765;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav-navLink {
    line-height: 24px;
    display: inline-block;
  }
}
.StyleGuideNav-overlay {
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  display: block;
  position: fixed;
  opacity: 0;
  background-color: rgba(26, 31, 44, 0.6);
  transition: opacity 250ms, width 0ms 250ms, height 0ms 250ms;
  z-index: 0;
}
@media screen and (max-width: 984px) {
  .StyleGuideNav.isOpen .StyleGuideNav-navigation {
    left: 0;
  }
  .StyleGuideNav.isOpen .StyleGuideNav-burger:before {
    top: 50%;
    margin-top: -1px;
    -ms-transform: rotate(45deg);
        transform: rotate(45deg);
  }
  .StyleGuideNav.isOpen .StyleGuideNav-burger:after {
    bottom: 50%;
    margin-bottom: -1px;
    -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
  }
  .StyleGuideNav.isOpen .StyleGuideNav-burger .StyleGuideNav-patty {
    width: 0;
  }
  .StyleGuideNav.isOpen .StyleGuideNav-overlay {
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 250ms;
  }
}

/* ADDING COLOR PALETTE HERE SO IT DOESN'T GET PULLED INTO PRODUCTION */
.ColorPalette-colorsContainer:not(:first-child) {
  margin-top: 80px;
}
.ColorPalette-heading {
  margin-bottom: 20px;
  display: block;
}
.ColorPalette-paletteList {
  padding: 0;
  margin: 0 0 -10px -10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.ColorPalette-color {
  width: 200px;
  height: 200px;
  margin: 0 0 10px 10px;
  padding: 20px;
  position: relative;
  color: #1A1F2C;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}
.ColorPalette-color--ink {
  background-color: #032765;
}
.ColorPalette-color--brightBlue {
  background-color: #0195E5;
}
.ColorPalette-color--classicBlue {
  background-color: #0080C6;
}
.ColorPalette-color--glass {
  background-color: #D5F3FD;
}
.ColorPalette-color--frostedGlass {
  background-color: #E6F8FE;
}
.ColorPalette-color--highlightTeal {
  background-color: #3FE8DF;
}
.ColorPalette-color--highlightAvocado {
  background-color: #E0E572;
}
.ColorPalette-color--highlightDove {
  background-color: #B5C8C9;
}
.ColorPalette-color--errorRed {
  background-color: #ED432F;
}
.ColorPalette-color--whaleGrey {
  background-color: #1A1F2C;
}
.ColorPalette-color--wolfGrey {
  background-color: #62646A;
}
.ColorPalette-color--koalaGrey {
  background-color: #8C8C8C;
}
.ColorPalette-color--goatGrey {
  background-color: #A1A1A1;
}
.ColorPalette-color--foxGrey {
  background-color: #CDCDCD;
}
.ColorPalette-color--rabbitGrey {
  background-color: #E6E6E6;
}
.ColorPalette-color--mouseGrey {
  background-color: #F5F5F5;
}
.ColorPalette-color--pureBlack {
  background-color: #000;
}
.ColorPalette-color--footerGrey {
  background-color: #272D39;
}
.ColorPalette-colorCopy {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.ColorPalette-colorCopy--bold {
  font-weight: 600;
}
.ColorPalette-colorCopy--light {
  color: #FFF;
}

/*
CSSBliss Utility Classes
.u-camelCase
*/
.u-boldLink {
  font-size: 12px !important;
  line-height: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0080C6;
  background: none !important;
  border: none !important;
  height: auto !important;
  outline: none !important;
}

.u-pointer {
  cursor: pointer;
}

.u-nowrap {
  white-space: nowrap;
}

.u-noBorder {
  border: 0 !important;
}

.u-noMargin {
  margin: 0 !important;
}

.u-noPaddingBottom {
  padding-bottom: 0 !important;
}

.u-noPadding {
  padding: 0 !important;
}

.u-hidden {
  display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .u-hidden-tablet-portrait {
    display: none !important;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .u-hidden-tablet-landscape {
    display: none !important;
  }
}

.u-displayNone {
  display: none;
}

/* colors */
.u-color-blueBase {
  color: #0080C6;
}

.u-colorBlue {
  color: #0080C6;
}

.u-colorGreySemi {
  color: #8C8C8C;
}

.u-colorGoatGrey {
  color: #A1A1A1;
}

.u-background-GreyLighter {
  background-color: #F5F5F5;
}

.u-color-errorRed {
  color: #ED432F;
}

/* new colors */
.u-color-ink {
  color: #032765;
}
.u-color-ink--important {
  color: #032765 !important;
}
.u-color-brightBlue {
  color: #0195E5;
}
.u-color-brightBlue--important {
  color: #0195E5 !important;
}
.u-color-classicBlue {
  color: #0080C6;
}
.u-color-classicBlue--important {
  color: #0080C6 !important;
}
.u-color-glass {
  color: #D5F3FD;
}
.u-color-glass--important {
  color: #D5F3FD !important;
}
.u-color-frostedGlass {
  color: #E6F8FE;
}
.u-color-frostedGlass--important {
  color: #E6F8FE !important;
}
.u-color-highlightTeal {
  color: #3FE8DF;
}
.u-color-highlightTeal--important {
  color: #3FE8DF !important;
}
.u-color-highlightAvocado {
  color: #E0E572;
}
.u-color-highlightAvocado--important {
  color: #E0E572 !important;
}
.u-color-highlightDove {
  color: #B5C8C9;
}
.u-color-highlightDove--important {
  color: #B5C8C9 !important;
}
.u-color-errorRed {
  color: #ED432F;
}
.u-color-errorRed--important {
  color: #ED432F !important;
}
.u-color-whaleGrey {
  color: #1A1F2C;
}
.u-color-whaleGrey--important {
  color: #1A1F2C !important;
}
.u-color-wolfGrey {
  color: #62646A;
}
.u-color-wolfGrey--important {
  color: #62646A !important;
}
.u-color-koalaGrey {
  color: #8C8C8C;
}
.u-color-koalaGrey--important {
  color: #8C8C8C !important;
}
.u-color-goatGrey {
  color: #A1A1A1;
}
.u-color-goatGrey--important {
  color: #A1A1A1 !important;
}
.u-color-foxGrey {
  color: #CDCDCD;
}
.u-color-foxGrey--important {
  color: #CDCDCD !important;
}
.u-color-rabbitGrey {
  color: #E6E6E6;
}
.u-color-rabbitGrey--important {
  color: #E6E6E6 !important;
}
.u-color-mouseGrey {
  color: #F5F5F5;
}
.u-color-mouseGrey--important {
  color: #F5F5F5 !important;
}
.u-color-pureBlack {
  color: #000;
}
.u-color-pureBlack--important {
  color: #000 !important;
}
.u-color-footerGrey {
  color: #272D39;
}
.u-color-footerGrey--important {
  color: #272D39 !important;
}
.u-color-white {
  color: #FFF !important;
}

/* padding */
.u-padding-bottom-20 {
  padding-bottom: 20px;
}

.u-padding-bottom-18 {
  padding-bottom: 18px;
}

.u-padding-bottom-16 {
  padding-bottom: 16px;
}

.u-padding-bottom-15 {
  padding-bottom: 15px;
}

.u-padding-bottom-14 {
  padding-bottom: 14px;
}

.u-padding-bottom-0 {
  padding-bottom: 0;
}

.u-padding-top-5 {
  padding-top: 5px;
}

.u-padding-top-10 {
  padding-top: 10px;
}

.u-padding-right-10 {
  padding-right: 10px !important;
}

.u-padding-right-15 {
  padding-right: 15px !important;
}

.u-padding-left-15 {
  padding-left: 15px !important;
}

.u-padding-right-20 {
  padding-right: 20px;
}

.u-padding-left-22 {
  padding-left: 22px;
}

.u-padding-left-50 {
  padding-left: 50px !important;
}

.u-padding-right-50 {
  padding-right: 50px !important;
}

.u-padding-horizontal-38 {
  padding-left: 38px;
  padding-right: 38px;
}

.u-padding-top-24 {
  padding-top: 24px;
}

/* position */
.u-positionStatic {
  position: static !important;
}

/* flex */
.u-flex-growShrink {
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.u-force-inlineBlock {
  /* force inline for legacy content */
  display: inline-block !important;
}

.u-verticalAlign-middle {
  vertical-align: middle;
}

.u-background-greyLighter {
  background-color: #F5F5F5 !important;
}

.u-background-ink {
  background-color: #032765;
}
.u-background-brightBlue {
  background-color: #0195E5;
}
.u-background-classicBlue {
  background-color: #0080C6;
}
.u-background-glass {
  background-color: #D5F3FD;
}
.u-background-frostedGlass {
  background-color: #E6F8FE;
}
.u-background-highlightTeal {
  background-color: #3FE8DF;
}
.u-background-highlightAvocado {
  background-color: #E0E572;
}
.u-background-highlightDove {
  background-color: #B5C8C9;
}
.u-background-errorRed {
  background-color: #ED432F;
}
.u-background-whaleGrey {
  background-color: #1A1F2C;
}
.u-background-wolfGrey {
  background-color: #62646A;
}
.u-background-koalaGrey {
  background-color: #8C8C8C;
}
.u-background-goatGrey {
  background-color: #A1A1A1;
}
.u-background-foxGrey {
  background-color: #CDCDCD;
}
.u-background-rabbitGrey {
  background-color: #E6E6E6;
}
.u-background-mouseGrey {
  background-color: #F5F5F5;
}
.u-background-pureBlack {
  background-color: #000;
}
.u-background-footerGrey {
  background-color: #272D39;
}
.u-background-white {
  background-color: #FFF;
}
.u-background--white {
  background-color: #FFF;
}

.u-float-right {
  float: right;
}

.u-margin-bottom-5 {
  margin-bottom: 5px;
}

.u-margin-bottom-10 {
  margin-bottom: 10px;
}

.u-margin-bottom-30 {
  margin-bottom: 30px;
}

.u-margin-right-20 {
  margin-right: 20px;
}

.u-top-0 {
  top: 0 !important;
}

/* text */
.u-capitalize {
  text-transform: capitalize;
}

.u-text-center {
  text-align: center !important;
}

.u-font-baseSize {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.u-copySize {
  font-size: 14px;
  line-height: 18px;
}
.u-copySize--16 {
  font-size: 16px;
  line-height: 20px;
}

.u-text--uppercase {
  text-transform: uppercase;
}
.u-text--semiBold {
  font-weight: 600;
}
.u-text--bold {
  font-weight: 700;
}
.u-text--alignRight {
  text-align: right;
}
.u-text--alignCenter {
  text-align: center;
}
.u-text--alignLeft {
  text-align: left;
}
.u-text--noDecoration {
  text-decoration: none !important;
}

.u-ellipsis {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* flexbox, hopefully will be replaced with grid layout */
.flexBox-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.flexBox-column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.flexBox-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flexBox-alignMiddle {
  -ms-flex-align: center;
      align-items: center;
}

.flexBox-alignTop {
  -ms-flex-align: start;
      align-items: flex-start;
}

.flexBox-alignSelfStart {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.flexBox-spaceBetween {
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.flexBox-alignStretch {
  -ms-flex-align: stretch;
      align-items: stretch;
}

.u-flexbox {
  display: -ms-flexbox;
  display: flex;
}
.u-flexbox--wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* borders */
.u-border--all {
  border: 1px solid transparent;
}
.u-border--bottom {
  border-bottom: 1px solid transparent;
}
.u-border--silverApprox {
  border-color: #CDCDCD;
}
.u-border--rabbitGrey {
  border-color: #E6E6E6;
}

/* width */
.u-width--one-half {
  width: 50%;
}
.u-width--980 {
  width: 980px;
}
.u-width--984 {
  width: 100%;
  max-width: 984px;
}
.u-width--984Fixed {
  width: 984px;
}
.u-width--full {
  width: 100%;
}

.u-height--full {
  height: 100%;
}

/* overflow/visibility */
.u-overflow--visible {
  overflow: visible !important;
}
.u-overflow--hidden {
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .u-visible-tablet-portrait {
    display: block !important;
    visibility: visible !important;
  }
}

.u-centered {
  margin: 0 auto;
}

.Button {
  /* normalize */
  background: none;
  border-radius: 0;
  outline: none !important;
  color: #FFF;
  text-decoration: none !important;
  -webkit-appearance: none;
  display: inline-block;
  position: relative;
  font: bold 12px/38px "Source Sans Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: background 200ms, border 200ms, color 200ms;
  border: 1px solid;
  padding: 0 20px;
  width: 100%;
  height: 40px;
  background-color: #0195E5;
  border-color: #0195E5;
}
@media screen and (max-width: 659px) {
  .Button {
    height: 45px;
    font: bold 12px/43px "Source Sans Pro", Helvetica, Arial, sans-serif;
  }
}
.Button:link, .Button:visited {
  color: #FFF;
}
.Button:link:hover, .Button:visited:hover {
  color: #FFF;
}
.Button--minWidth {
  width: auto;
}
.Button--minWidth120 {
  min-width: 120px;
}
.Button--low {
  font: bold 12px/28px "Source Sans Pro", Helvetica, Arial, sans-serif;
  height: 30px;
}
@media screen and (max-width: 659px) {
  .Button--low {
    font: bold 12px/28px "Source Sans Pro", Helvetica, Arial, sans-serif;
    height: 30px;
  }
}
.Button:hover {
  background-color: #0184cc;
  border-color: #0184cc;
}
@media screen and (max-width: 659px) {
  .Button:hover {
    background-color: #0195E5;
    border-color: #0195E5;
  }
}
.Button:active {
  background-color: #0174b2;
  border-color: #0174b2;
}
.Button:disabled {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
  cursor: default;
  pointer-events: none;
}
.Button:disabled:hover {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
}
.Button:disabled:active {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
}
.Button.isDisabled {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
  cursor: default;
  pointer-events: none;
}
.Button.isDisabled:hover {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
}
.Button.isDisabled:active {
  background-color: #CDCDCD;
  border-color: #CDCDCD;
}
.Button--hollowDisabled:disabled {
  background-color: rgba(205, 205, 205, 0);
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.Button--hollowDisabled:disabled:hover {
  background-color: rgba(205, 205, 205, 0);
  border-color: #CDCDCD;
}
.Button--hollowDisabled:disabled:active {
  background-color: rgba(205, 205, 205, 0);
  border-color: #CDCDCD;
}
.Button--hollowDisabled.isDisabled {
  background-color: rgba(205, 205, 205, 0);
  color: #CDCDCD;
  border-color: #CDCDCD;
}
.Button--hollowDisabled.isDisabled:hover {
  background-color: rgba(205, 205, 205, 0);
  border-color: #CDCDCD;
}
.Button--hollowDisabled.isDisabled:active {
  background-color: rgba(205, 205, 205, 0);
  border-color: #CDCDCD;
}
.Button.isLoading {
  position: relative;
  background-color: #0174b2;
  border-color: #0174b2;
}
.Button.isLoading:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  animation: loadingButton 3s ease-in-out forwards;
  z-index: 1;
}
@keyframes loadingButton {
  0% {
    right: 100%;
  }
  100% {
    right: 10px;
  }
}
.Button--ink {
  background-color: #032765;
  border-color: #032765;
}
.Button--ink:hover {
  background-color: #021d4c;
  border-color: #021d4c;
}
@media screen and (max-width: 659px) {
  .Button--ink:hover {
    background-color: #032765;
    border-color: #032765;
  }
}
.Button--ink:active {
  background-color: #021433;
  border-color: #021433;
}
.Button--ink.isLoading {
  background-color: #021433;
  border-color: #021433;
}
.Button--brightBlue {
  background-color: #0195E5;
  border-color: #0195E5;
}
.Button--brightBlue:hover {
  background-color: #0184cc;
  border-color: #0184cc;
}
@media screen and (max-width: 659px) {
  .Button--brightBlue:hover {
    background-color: #0195E5;
    border-color: #0195E5;
  }
}
.Button--brightBlue:active {
  background-color: #0174b2;
  border-color: #0174b2;
}
.Button--brightBlue.isLoading {
  background-color: #0174b2;
  border-color: #0174b2;
}
.Button--classicBlue {
  background-color: #0080C6;
  border-color: #0080C6;
}
.Button--classicBlue:hover {
  background-color: #0070ad;
  border-color: #0070ad;
}
@media screen and (max-width: 659px) {
  .Button--classicBlue:hover {
    background-color: #0080C6;
    border-color: #0080C6;
  }
}
.Button--classicBlue:active {
  background-color: #005f93;
  border-color: #005f93;
}
.Button--classicBlue.isLoading {
  background-color: #005f93;
  border-color: #005f93;
}
.Button--highlightTeal {
  background-color: #3FE8DF;
  border-color: #3FE8DF;
}
.Button--highlightTeal:hover {
  background-color: #1adad0;
  border-color: #1adad0;
}
@media screen and (max-width: 659px) {
  .Button--highlightTeal:hover {
    background-color: #3FE8DF;
    border-color: #3FE8DF;
  }
}
.Button--highlightTeal:active {
  background-color: #17c3ba;
  border-color: #17c3ba;
}
.Button--highlightTeal.isLoading {
  background-color: #17c3ba;
  border-color: #17c3ba;
}
.Button--highlightAvocado {
  background-color: #E0E572;
  border-color: #E0E572;
}
.Button--highlightAvocado:hover {
  background-color: #d7dd47;
  border-color: #d7dd47;
}
@media screen and (max-width: 659px) {
  .Button--highlightAvocado:hover {
    background-color: #E0E572;
    border-color: #E0E572;
  }
}
.Button--highlightAvocado:active {
  background-color: #d2d931;
  border-color: #d2d931;
}
.Button--highlightAvocado.isLoading {
  background-color: #d2d931;
  border-color: #d2d931;
}
.Button--errorRed {
  background-color: #ED432F;
  border-color: #ED432F;
}
.Button--errorRed:hover {
  background-color: #d62713;
  border-color: #d62713;
}
@media screen and (max-width: 659px) {
  .Button--errorRed:hover {
    background-color: #ED432F;
    border-color: #ED432F;
  }
}
.Button--errorRed:active {
  background-color: #bf2311;
  border-color: #bf2311;
}
.Button--errorRed.isLoading {
  background-color: #bf2311;
  border-color: #bf2311;
}
.Button--classicBlue {
  background-color: #0080C6, 1;
  border: 1px solid #0080C6;
  color: #FFF;
}
@media screen and (max-width: 979px) {
  .Button--classicBlue:hover {
    background-color: #007fc5;
    border-color: #007fc5;
  }
}
.Button--classicBlue:hover, .Button--classicBlue:active {
  background-color: #007fc5;
  border-color: #007fc5;
}
.Button--hollow {
  color: #0195E5;
  background-color: transparent;
  border-color: #CDCDCD;
}
.Button--hollow:hover {
  background-color: transparent;
  border-color: #a7a7a7;
}
@media screen and (max-width: 659px) {
  .Button--hollow:hover {
    background-color: transparent;
    border-color: #CDCDCD;
  }
}
.Button--hollow:active {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #a7a7a7;
}
.Button--hollow.isLoading {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #a7a7a7;
}
.Button--hollowClassic, .Button--hollowClassic:link, .Button--hollowClassic:visited {
  background-color: transparent;
  border-color: #CDCDCD;
  color: #0080C6;
}
.Button--hollowClassic:hover, .Button--hollowClassic:link:hover, .Button--hollowClassic:visited:hover {
  background-color: transparent;
  border-color: #a7a7a7;
  color: #0080C6;
}
@media screen and (max-width: 659px) {
  .Button--hollowClassic:hover, .Button--hollowClassic:link:hover, .Button--hollowClassic:visited:hover {
    background-color: transparent;
    border-color: #CDCDCD;
  }
}
.Button--hollowClassic:active, .Button--hollowClassic:link:active, .Button--hollowClassic:visited:active {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #a7a7a7;
}
.Button--hollowClassic.isLoading, .Button--hollowClassic:link.isLoading, .Button--hollowClassic:visited.isLoading {
  background-color: rgba(0, 0, 0, 0.03);
  border-color: #a7a7a7;
}
.Button--hollowDark {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 0.3);
}
.Button--hollowDark:link, .Button--hollowDark:visited {
  color: #FFF;
}
.Button--hollowDark:hover {
  color: #1A1F2C;
  background-color: white;
  border-color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 659px) {
  .Button--hollowDark:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0.3);
  }
}
.Button--hollowDark:active {
  color: #1A1F2C;
  background-color: white;
  border-color: rgba(255, 255, 255, 0.3);
}
.Button--hollowDark.isLoading {
  color: #1A1F2C;
  background-color: white;
  border-color: rgba(255, 255, 255, 0.3);
}

.Text {
  font: 16px/30px "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.Text--sm {
  font: 14px/26px "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.Text--xs {
  font: 12px/15px "Source Sans Pro", Helvetica, Arial, sans-serif;
}
.Text--disclaimer {
  font: 12px/16px "Source Sans Pro", Helvetica, Arial, sans-serif;
  color: #8C8C8C;
}

.TextField {
  background-color: #FFF;
  border-radius: 0;
  border: 1px solid #CDCDCD;
  color: #1A1F2C;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font: normal 14px/14px "Source Sans Pro", Helvetica, Arial, sans-serif;
  height: 40px;
  outline: none;
  padding: 12px 10px;
  resize: none;
  transition: border-color 250ms;
  width: 100%;
}
.TextField::-moz-placeholder {
  font-weight: 300;
  color: #8C8C8C;
  opacity: 1;
  letter-spacing: 0;
}
.TextField::-webkit-input-placeholder {
  font-weight: 300;
  color: #8C8C8C;
  letter-spacing: 0;
}
@media screen and (max-width: 979px) {
  .TextField {
    height: 45px;
    padding: 14px 15px;
  }
}
.TextField:hover {
  cursor: pointer;
}
.TextField:focus {
  border-color: #A1A1A1;
  caret-color: #0080C6;
}
.TextField.isError {
  border-color: #ED432F;
}
.TextField.isError:active, .TextField.isError:focus {
  border-color: #A1A1A1;
}
.TextField--area {
  height: auto;
}
.TextField--group {
  border-bottom: 0;
}
.TextField--group:last-child {
  border-bottom: 1px solid #CDCDCD;
}
.TextField--group:last-child:focus, .TextField--group:last-child:active {
  border-color: #A1A1A1;
}
.TextField--group:focus + .TextField--group {
  border-top-color: #A1A1A1;
}
.TextField--group:focus + .TextField--group.isError {
  border-top-color: #ED432F;
}
.TextField--group:active + .TextField--group {
  border-top-color: #A1A1A1;
}
.TextField--group:active + .TextField--group.isError {
  border-top-color: #ED432F;
}
.TextField--group.isError:focus + .TextField--group {
  border-top-color: #A1A1A1;
}
.TextField--group.isError + .TextField--group {
  border-top-color: #ED432F;
}
.TextField--minWidth {
  width: 350px;
}
@media screen and (max-width: 979px) {
  .TextField--minWidth {
    width: 100%;
  }
}

.Title {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: none;
}
.Title--primaryLg {
  font-size: 40px;
  line-height: 50px;
}
.Title--primaryMd {
  font-size: 32px;
  line-height: 40px;
}
@media-query (xs) {
  .Title--primaryMd {
    font-size: 28px;
    line-height: 36px;
  }
}
.Title--primarySm {
  font-size: 28px;
  line-height: 36px;
}
.Title--secondary {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.Title--secondarySmCaps {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.Form-inputBox {
  padding-bottom: 15px;
}
.Form--minWidth {
  width: 350px;
}
@media screen and (max-width: 979px) {
  .Form--minWidth {
    width: 100%;
  }
}

.FormError {
  color: #ED432F;
  display: block;
  font-size: 12px;
  line-height: 15px;
}

input[type="checkbox"]:not(.CheckBox-input).Checkbox {
  outline: none;
  vertical-align: middle;
}
input[type="checkbox"]:not(.CheckBox-input).Checkbox::before {
  background: #FFF;
  border-radius: 2px;
  border: 1px solid #CDCDCD;
  content: "";
  display: inline-block;
  height: 18px;
  margin: -6px 0 0 -2px;
  vertical-align: middle;
  width: 18px;
}
input[type="checkbox"]:not(.CheckBox-input).Checkbox:checked::before {
  background: #FFF url('/images/icons/checkbox_tick.svg?1525415541') center no-repeat;
}
input[type="checkbox"]:not(.CheckBox-input).Checkbox--fill:checked::before {
  background: #0080C6 url('/images/icons/checkbox_tick_white.svg?1525415541') center no-repeat;
  border-color: #0080C6;
}
